/* Root Definitions for Light Theme */
:root {
    --background-color: #f8f9fa; /* light gray */
    --border-color: #dee2e6; /* light border */
    --header-bg-color: #007bff; /* blue */
    --number-font-weight: bold; /* Bold font weight */
    --number-text-color: #000000; /* Black for light theme */
    --text-color: #212529; /* almost black */
}

/* Dark Theme Overrides */
.dark-theme {
    --background-color: #343a40; /* dark gray */
    --border-color: #ced4da; /* gray border */
    --header-bg-color: #0069d9; /* dark blue */
    --text-color: #f8f9fa; /* almost white */
    --number-text-color: #000000; /* Black for dark theme */
}

/* General Body Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%; /* Ensures full viewport height */
    margin: 0; /* Removes default margin */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    padding: 0; /* Removes default padding */
}

body.dark-theme {
    background-color: #333;
    color: #000;
}

/* Header Elements */
header, .header-cell {
    background-color: var(--header-bg-color);
}

/* Button Styles */
button {
    background-color: #007bff; /* Bootstrap primary color */
    color: #ffffff; /* White text */
}

body.dark-theme button {
    background-color: #6c757d; /* Bootstrap secondary color */
}

/* Dark Theme Specific Styles */
.dark-theme h1 {
    color: #f8f9fa;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-theme label {
    color: white;
}

/* Bingo Board and Cells */
#bingo-board {
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.bingo-cell, .pattern-cell {
    align-items: center;
    aspect-ratio: 1;
    background-color: #f8f9fa;
    border: 2px solid #000;
    border-color: var(--border-color);
    border-radius: 50%;
    display: flex;
    flex: 1 0 6%;
    height: auto;
    justify-content: center;
    margin: 0.5%;
    max-width: 80px;
    padding: 10px;
    text-align: center;
}

.header-cell {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.pattern-cell {
    background-color: #4CAF50 !important;
}

.selected {
    background-color: #28a745;
    color: white;
}

/* Container and Row Flexbox Settings */
.container, .container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    flex: 0 1 auto;
    min-height: 0;
}

.bingo-row {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Last Calls and Pattern Selection Styles */
#last-calls, #pattern-selection {
    flex: 1;
}

#last-calls {
    background: #f8f9fa;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 15px;
}

#last-calls h3, .call-history {
    color: #007bff;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.number-cell {
    color: var(--number-text-color);
    cursor: pointer;
    font-weight: var(--number-font-weight);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .bingo-cell, .number-cell {
        height: 15vw;
        margin: 1vw;
        width: 15vw;
    }

    .number-cell {
        font-size: 3vw;
    }

    #last-calls h3, .call-history {
        font-size: 1em;
    }
}

@media only screen and (orientation: landscape) {
    .bingo-row {
        padding: 0 10px;
    }

    .bingo-cell {
        font-size: smaller;
        padding: 5px;
    }
}

/* CSS ANIMATIONS */

.call-history {
    overflow: hidden; /* Ensures content outside this box is not visible */
    height: 50px; /* Adjust based on your design */
}

.call-item {
    transition: transform 0.5s ease-in-out; /* Smooth transition for the sliding effect */
    height: 100%; /* Full height of the container */
    white-space: nowrap; /* Keeps the text in a single line */
    padding: 10px; /* Adds some space around the text */
    transform: translateX(100%); /* Starts the call off-screen (right) */
}

